.page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #eaeaea;
}

.page_contents_block {
    padding: 15px;
    display:flex;
    justify-content: center;
    min-height: 70vh;
    flex-wrap: wrap;
    width: 80%;
    flex-direction:row;
}

.coming-soon {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 10px;
    background-color: #000;

}

.coming-soon p{
    color: #fff;
}