.new_outfit {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
}
.new_outfit__title {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.new_outfit__list {
    padding: 15px;
    display:flex;
    justify-content: center;
    min-height: 70vh;
    flex-wrap: wrap;
    width: 80%;
    flex-direction:row;
}

